<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANGUN RUANG</title>
</head>
<body>
    
    <style>
        body {
              background-image: linear-gradient(to right, #98c2cc, #2532e7);
              margin-left: 50px;
              margin-right: 50px;
              padding: 0;
          }
          p {text-align: left right;
        }
        h1{
            text-align: center;
        }
        h2{
            text-align: left;
        }
</style>
</body>
</html>